/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.sticky navbar{
    margin: 0 1em 1.5em 1em !important;
}
}
.con img{margin-right: 200px;


} 
.con{
    background-color:#ffffff;
    color: black;
    padding: 0%;
    }
